<section class="bg-[#EFF7F2]">
  <div class="p-10 md:p-[100px] w-full lg:container lg:mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 px-5 gap-24">
      <div class="flex flex-col">
        <div class="flex items-center">
          <hr class="w-20 border-2 border-[#1D2130] me-4 font-bold" />
          <p class="text-[#1D2130] text-base font-bold uppercase">
            know about us
          </p>
        </div>
        <div class="flex flex-col p-0 lg:ps-24">
          <h2
            class="text-[#1D2130] text-5xl leading-tight text-wrap font-bold my-10"
          >
            Making a donation for Nature.
          </h2>
          <p class="text-[#525560] mb-7">
            When you donate, you’re supporting effective solutions to big
            environmental challenges—an investment in the future of our planet.
          </p>

          <button
            class="bg-[#70C174] hover:bg-green-600 text-white font-medium rounded-md py-3 w-[150px]"
          >
            <a href="#">Support !</a>
          </button>
        </div>
      </div>
      <div>
        <img
          src="../../../../assets/Images/donation.webp"
          alt="There is no planet B, make a donation"
          class="rounded-md"
        />
      </div>
    </div>
  </div>
</section>
