 <!-- News -->
 <section>
    <div class="flex flex-col container mx-auto px-[100px] pb-[100px]">
      <div class="flex w-full items-center justify-between mb-12">
        <h3 class="font-bold text-3xl text-[#1D2130]">Read Our News</h3>
        <hr class="flex-grow ms-4 border-gray-300" />
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
        <div class="flex flex-col shadow-md rounded-md">
          <a href="">
            <div
              class="w-full h-[192px] rounded-t-md bg-[url('assets/Images/greens.jpg')] bg-cover bg-center bg-no-repeat"
            ></div>
            <div class="flex flex-col pt-5 pb-2 px-2">
              <p class="text-[#1C1D28] font-medium text-lg mb-2">
                Don’t destroy greenery and don’t spoil scenery
              </p>
              <p class="text-[#525560]">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim
              </p>
            </div>
          </a>
        </div>
        <div class="flex flex-col shadow-md rounded-md">
          <div
            class="w-full h-[192px] rounded-t-md bg-[url('assets/Images/climate-change.jpg')] bg-cover bg-center bg-no-repeat"
          ></div>
          <div class="flex flex-col pt-5 pb-2 px-2">
            <p class="text-[#1C1D28] font-medium text-lg mb-2">
              Is climate change happening faster than expected?
            </p>
            <p class="text-[#525560]">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim
            </p>
          </div>
        </div>
        <div class="flex flex-col shadow-md rounded-md">
          <div
            class="w-full h-[192px] rounded-t-md bg-[url('assets/Images/water.jpg')] bg-cover bg-center bg-no-repeat"
          ></div>
          <div class="flex flex-col pt-5 pb-2 px-2">
            <p class="text-[#1C1D28] font-medium text-lg mb-2">
              Our goal is to make water available for everyone
            </p>
            <p class="text-[#525560]">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim
            </p>
          </div>
        </div>
        <div class="flex flex-col shadow-md rounded-md">
          <div
            class="w-full h-[192px] rounded-t-md bg-[url('assets/Images/wind-farm.jpg')] bg-cover bg-center bg-no-repeat"
          ></div>
          <div class="flex flex-col pt-5 pb-2 px-2">
            <p class="text-[#1C1D28] font-medium text-lg mb-2">
              Top 10 facts about wind farms you didn't know
            </p>
            <p class="text-[#525560]">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>