<div class="w-full top-0 left-0 z-50 h-[75px] items-center">
  <div class="container mx-auto flex py-2">
    <!-- EcoVibe Innovations Button -->
    <div class="flex justify-center items-center py-4">
      <button
        class="font-bold bg-gradient-to-r from-[#70C174] to-[#0B0706] bg-clip-text text-transparent px-5"
        routerLink="/"
        routerLinkActive="active"
      >
        EcoVibe Innovations
      </button>
    </div>

    <!-- Navbar Buttons -->
    <div class="flex flex-1 justify-end px-5 py-4 gap-10">
      <button
        type="button" 
        class="text-[#525560] font-medium"
        routerLink="/"
        routerLinkActive="active"
      >
        Home
      </button>
      <button
        type="button" 
        class="text-[#525560] font-medium"
        routerLink="/about-us"
        routerLinkActive="active"
      >
        About Us
      </button>
      <button
        type="button" 
        class="text-[#525560] font-medium"
        routerLink="/what-we-do"
        routerLinkActive="active"
      >
        What We Do
      </button>
      <button
        type="button" 
        class="text-[#525560] font-medium"
        routerLink="/media"
        routerLinkActive="active"
      >
        Media
      </button>
      <button
        type="button" 
        class="text-[#525560] font-medium"
        routerLink="/forum"
        routerLinkActive="active"
      >
        Forum
      </button>
      <button
        type="button" 
        class="text-[#525560] font-medium"
        routerLink="/contact"
        routerLinkActive="active"
      >
        Contact
      </button>
    </div>

    <!-- Donate Button -->
    <div class="mx-5 flex justify-center items-center">
      <button
        routerLink="/donate"
        class="bg-[#1D2130] text-white rounded-md py-3 w-[130px] hover:scale-105 focus:scale-105 transition-transform duration-300 text-center block"
      >
        Donate
      </button>
    </div>
  </div>
</div>
