<!-- Donut Chart -->
<section class="bg-black">
  <div class="p-10 md:p-[100px] w-full lg:container lg:mx-auto">
    <div class="grid grid-cols-2 gap-10">
      <div class="flex flex-col text-white justify-center">
        <h2 class="text-5xl leading-tight text-wrap font-bold mb-10">
          How we spend your donations and where it goes
        </h2>
        <p>
          We understand that when you make a donation, you want to know exactly where your money is going, and we pledge to be transparent.
        </p>
      </div>
      <div>
        <!-- Add #chartCanvas for Angular to access -->
        <canvas class="p-1 ml-40 mr-40 text-white" #chartCanvas></canvas>
      </div>
    </div>
  </div>
</section>
