<div class="container p-24">
  <div class="grid grid-cols-2 gap-24">
    <div>
      <h1
        class="text-[#1D2130] text-5xl leading-tight text-wrap font-bold mb-6"
      >
        How you can contribute to protect Earth
      </h1>
      <p class="text-[#525560]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
        sem vitae risus tristique posuere.
      </p>
    </div>
    <div class="items-center flex justify-center">
      <div class="grid grid-cols-3 gap-5">
        <div class="flex flex-col justify-center items-center">
          <img
            src="../../../../assets/Images/footprint.webp"
            alt="reduce carbon footprint"
            class="rounded-md h-28 w-28 mb-4 bg-cover bg-center"
          />
          <p class="text-[#70C174] font-bold text-base text-center">
            Energy Consumption
          </p>
        </div>
        <div class="flex flex-col justify-center items-center">
          <img
            src="../../../../assets/Images/reduce-waste.webp"
            alt="reduce waste"
            class="rounded-md h-28 w-28 mb-4 bg-cover bg-center"
          />
          <p class="text-[#70C174] font-bold text-base text-center">
            Waste Reduction
          </p>
        </div>
        <div class="flex flex-col justify-center items-center">
          <img
            src="../../../../assets/Images/support-policy-change.webp"
            alt="support policy change"
            class="rounded-md h-28 w-28 mb-4 bg-cover bg-center"
          />
          <p class="text-[#70C174] font-bold text-base text-center">
            Support Policy Change
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
